/* html, body { margin:0; padding: 0; height: 100%; width: 100%; }
body { width:100%; height:100%; background: #ffffff; }
#map { height: 100%; width: 100%; background-color: #FFFFFF; } */

.ol-mouse-position {
    top: 15px;
    right: 58px;
    position: absolute;
    color: Red;
    z-index: 10000;
  }